<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBank" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBank" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BankHost/BankService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBank"
                contract="ServiceReference1.IBank" name="BasicHttpBinding_IBank" />
            <endpoint address="net.tcp://localhost:8735/Design_Time_Addresses/BankHost/BankService/tcpp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBank"
                contract="ServiceReference1.IBank" name="NetTcpBinding_IBank">
                <identity>
                    <userPrincipalName value="suvasaho@corp.capgemini.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>